@charset "UTF-8";

.about{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

.about .image{
	max-width: 400px;
	margin: 0 auto;
}

h3{
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-align: center;
}

.text{
	margin: 1rem 1rem 2rem 1rem;
	max-width: 700px;
	text-align: left;
}





