@charset "UTF-8";


body{
	background: #abe1fa;
}

.container{
	max-width: 900px;
	min-width: 320px;
	margin: 0 auto;
	font-size: 1.2rem;
	background: #fff;

}

h2{
	margin: 0 auto;
	max-width: 20rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;
	padding: 0.25em 0;
}

h2:after {
	content: "";
	display: block;
	height: 4px;
	background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}

h3{
    font-size: 1.4rem;
    font-weight: bold;
}


header{
	background: #000;
	display: flex;
	color: #fffc0c;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	text-align: right;

}

header .tel{
	font-size: 1.5rem;
	color: #fff;
	text-decoration: underline;
	text-decoration-color: #fffc0c;
}

@media screen and (max-width: 767px){
	header{
		font-size: 1rem;
		flex-wrap: wrap;
		text-align: right;
	}
	.address{
	width: 100%;
	}
}

nav ul{
	display: flex;
	flex-wrap: wrap;
	border: solid 1px;

}

nav li a{
	display: block;
	background: #fff;
	text-align: center;
	border: solid 1px;
	padding: 1rem;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	

}

nav li a:hover{
	background: #000;
	color: #fff;
	border: solid 1px #fffc0c;

}

nav .nav_up{
	width: 33.3333%;
	width: calc(100% / 3);

}

nav .nav_down{
	width: 50%;
}

@media screen and (max-width: 767px) {
	nav li a{
		padding: 0.5rem;
		font-size: 1rem;
	}
}


footer{
	text-align: center;
	background: #000;
	color: #fffc0c;
	margin-top: 2rem;
	padding-bottom: 1rem;
	padding: 0 0.5rem;

}

footer a:hover{
	color: #fff;
}

footer ul{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer li{
	display: inline-block;
}

footer li + li::before{
	content: " | ";
	padding: 0 1rem;
}

footer .stamp{
	margin: 0 auto;
	max-width: 70px;
}

footer small{
	font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
	footer{
	font-size: 1rem;
	}
	footer li + li::before{
	padding: 0 0.5rem;
}

}


